:local(.styles) {
    width: 100%;
    border-top: 2px solid rgb(68, 68, 68);
    background-color: rgb(238, 238, 238);
    display:flex;
    text-align: center;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 0;

    span {
        height: 50px;
        padding-bottom: 25px;
        color: rgb(68, 68, 68);
        font-size: 18px;
    }
}
