:local(.styles) {
    color: rgb(68, 68, 68);
    
    h3 {
        font-size: 18px;
    }
    
    .estoria {
        background-color: white;
        padding: 5px;  
        margin-bottom: 10px;  
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05), 
                    0 1px 4px 0 rgba(0, 0, 0, .08),
                    0 3px 1px -2px rgba(0, 0, 0, .2);
        
        .estoria-dados {
            padding-bottom: 10px;    
            margin-left:5px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: baseline;
            
            .estoria-numero {     
                flex:0;
                font-size: 30px !important; 
                text-align: left;
                color: rgb(220, 220, 220);
            }
            .estoria-titulo {
                flex:1;
                margin-left:10px;
                color: rgb(68, 68, 68);
                font-size: 15px;
            }
            .estoria-opcoes {
                margin-right:20px;
                flex:0; 
            }
        }
    }
    
    .estoria-tarefas{
        display: flex;
        flex-direction: column;
        
    }
    
    .add-estoria {
        z-index:0;
        height: 30px;
        margin-top: 15px;
    }
    
    .tarefa {                
        padding-right: 10px;  
        margin: 5px;  
        background-color: beige;
        .tarefa-dados {
            padding: 10px;
            margin-left:15px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: baseline;
            .tarefa-numero {
                flex:0;
                font-size: 30px !important; 
                text-align: left;
                color: rgb(220, 220, 220);
            }
            .tarefa-titulo {
                flex:1;
                margin-left:10px;
                color: rgb(68, 68, 68);
                font-size: 15px;
            }
            .tarefa-opcoes {
                margin-right:5px;
                flex:0; 
            }
        }
    }
    
    .add-tarefa {
        z-index:0;
        height: 30px;
        margin-top: 15px;
        margin-left: 15px;
    }

}
