:local(.styles) {
    color: rgb(68, 68, 68);
    padding: 10px;

    h3 {
        font-size: 24px;
    }
    .estoria {
        a {
            color: rgb(68, 68, 68);
            
            text-decoration: none;    
        }
        margin: 5px;
        background-color: white;
        padding:15px;
        line-height: 30px;
        width: 100%;
        border-bottom: 2px dashed rgb(155, 155, 155);
    }
    
    .add-estoria {
        z-index:0;
        height: 30px;
        margin-top: 15px;
    }
    
    .tarefa {
        a {
            color: rgb(68, 68, 68);
            text-decoration: none;    
        }
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
        margin-left: 15px;
        background-color: white;
        padding:15px;
        line-height: 30px;
        width: 100%;
        border-bottom: 2px dashed rgb(155, 155, 155);
    }
    
    .add-tarefa {
        z-index:0;
        height: 30px;
        margin-top: 15px;
        margin-left: 15px;
    }
}
